@import url("./variabels.css");
@import url("./reset.css");
@import url("./fonts.css");
@import url("./top-bar.css");
@import url("./navbar.css");
@import url("./defaults.css");
@import url("./footer.css");
@import url("./course-box.css");
@import url("./breadcrumb.css");
@import url("./sidbarCoursesBox.css");


.course-info__courses-title{
    position: relative;
}
.course-info{
    overflow: hidden;
}
.course-info__courses-title::before{
    content: "";
    position: absolute;
    width: 22px;
    height: 39px;
    background-color: var(--primary-color);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 12px;
    top: -5px;
    right: -27px;
    transform: skew(-10deg);
}