@import url("./variabels.css");
@import url("./reset.css");
@import url("./fonts.css");
@import url("./top-bar.css");
/* Start Default Style */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  direction: rtl;
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: var(--primary-font);
}
*,
*::before,
*::after {
  outline: none;
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: var(--dark-color);
  transition: all 400ms ease;
}

a:hover {
  color: #1e83f0;
}
i {
  user-select: none;
}
/* Finish Default Style */

/* Start NavBar Style */
.main-header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.5rem;
}
/* Main Header Left */
.main-header__left {
  display: flex;
  align-items: center;
}
.main-header__search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
}
.main-header__search-icon {
  color: var(--white-color);
  font-size: 2.2rem;
}
.main-header__cart-icon{
  color: var(--dark-color);
  font-size: 2.2rem;
  transition: all 400ms ease;
}
.main-header__cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  background-color: #f0f2f7;
}
.main-header__cart-btn:hover{
  color: #1e83f0;
}
.main-header__profile{
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  border: 2px solid var(--primary-color);
  border-radius: .5rem;
  margin-right: 1rem;
  transition: all 400ms ease;
  color: var(--primary-color);
}
.main-header__profile:hover{
  background-color: var(--primary-color);
  color: var(--white-color);
}
.main-header__profile-tex{

}
/* Finish NavBar Style */
